.popup__input-error {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    visibility: hidden;
    width: 164px;
    margin: 5px 0 13px 0;
}