.edit-profile__submit {
    height: 50px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    opacity: 1;
}

@media screen and (max-width: 1279px) {
    .edit-profile__submit {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}

.edit-profile__submit:hover {
    transition: opacity 2s ease-in-out;
    opacity: 0.8;
}
