.profile__container {
    display: flex;
    column-gap: 18px;
    align-items: self-end;
}

@media screen and (max-width: 1279px) {
    .profile__container {
        column-gap: 10px;
        justify-content: center;
    }
}