.popup__close {
    cursor: pointer;
    position: absolute;
    background-image: url(../../../images/close.svg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
    opacity: 1;
}

@media screen and (max-width: 1279px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}

.popup__close:hover {
    transition: opacity 2s ease-in-out;
    opacity: 0.6;
}
