.element__delete {
    position: absolute;
    top:20px;
    right: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/Trash.svg);
    background-size: cover;
    width: 18px;
    height: 19px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.element__delete:hover {
    opacity: 0.5;
}