.profile__add-button {
    cursor: pointer;
    border: none;
    background-color: #000000;
    background-image: url(../../../images/aButton.svg);
    background-size: cover;
    padding: 0;
    width: 150px;
    height: 50px;
    color: #ffffff;
    opacity: 1;
    margin-left: auto;
}

.profile__add-button:hover {
    transition: opacity 2s ease-in-out;
    opacity: 0.6;
}


@media screen and (max-width:1279px) {
    .profile__add-button {
        background-image: url(../../../images/aButton_mobile.svg);
        width: 282px;
        margin:10px 0 0 0;
    }
    
}