.element {
    max-width: 282px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
    row-gap: 25px;
}
